a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}

a:focus,
a:hover,
a:active {
	outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}

b,
strong {
	font-weight: bold;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

ol,
ul {
	list-style: none;
}

li {
	display: list-item;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

sub,
sup,
small {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

svg {
	overflow: hidden;
}

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button,
input {
	*overflow: visible;
	line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}

body {
	min-width: 960px;
}

.grid {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.first {
	margin-left: 0;
}

.last {
	margin-right: 0;
}

.full {
	margin-right: 0;
	margin-left: 0;
}

.col1 {
	width: 60px;
}

.col2 {
	width: 140px;
}

.col3 {
	width: 220px;
}

.col4 {
	width: 300px;
}

.col5 {
	width: 380px;
}

.col6 {
	width: 460px;
}

.col7 {
	width: 540px;
}

.col8 {
	width: 620px;
}

.col9 {
	width: 700px;
}

.col10 {
	width: 780px;
}

.col11 {
	width: 860px;
}

.col12 {
	width: 940px;
}

.pref1 {
	padding-left: 80px;
}

.pref2 {
	padding-left: 160px;
}

.pref3 {
	padding-left: 240px;
}

.pref4 {
	padding-left: 320px;
}

.pref5 {
	padding-left: 400px;
}

.pref6 {
	padding-left: 480px;
}

.pref7 {
	padding-left: 560px;
}

.pref8 {
	padding-left: 640px;
}

.pref9 {
	padding-left: 720px;
}

.pref10 {
	padding-left: 800px;
}

.pref11 {
	padding-left: 880px;
}

.suf1 {
	padding-right: 80px;
}

.suf2 {
	padding-right: 160px;
}

.suf3 {
	padding-right: 240px;
}

.suf4 {
	padding-right: 320px;
}

.suf5 {
	padding-right: 400px;
}

.suf6 {
	padding-right: 480px;
}

.suf7 {
	padding-right: 560px;
}

.suf8 {
	padding-right: 640px;
}

.suf9 {
	padding-right: 720px;
}

.suf10 {
	padding-right: 800px;
}

.suf11 {
	padding-right: 880px;
}

.grid,
.clear {
	*zoom: 1;
}

.grid:before,
.grid:after,
.clear:before,
.clear:after {
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.grid:after,
.clear:after {
	clear: both;
}
