body {
	margin: 0;
	font: 13px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

hr {
	display: block;
	margin: 18px 0;
	border-top: 1px solid #d0d0d0;
	height: 0;
}

code,
pre {
  display: block;
  padding: 8px 20px;
  font: 12px/1.5 Menlo, Consolas, "Courier New", monospace;
  word-wrap: break-word;
  white-space: pre;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 18px;
}
